<div class="card">
  <div class="card-body">
    <form (submit)="agregarTarea(newTitulo,newDescripcion)">
      <div class="form-group">
        <input #newTitulo type="text" class="form-control" placeholder="Titulo de la tarea">
      </div>
      <div class="form-group">
        <textarea #newDescripcion class="form-control" cols="30" type="text" placeholder="Descripción de la tarea">
        </textarea>
      </div>
      <button class="btn btn-primary btn-block">Enviar</button>
    </form>
  </div>
</div>
